# Title: Data Engineering Project

Ojbectives & Requirements:

Extract the name of each team - Complete

Present the total number of goals scored by each german team during the 2011 season - Complete

Present the total number of wins the team earned during the 2011 season - Complete

Display histogram visualizations of the teams' wins and losses for the 2011 season (store the visualization directly)

Highlight the teams' win percentage on days where it was raining during games in the 2011 season. - Complete

# I. Package Installation

In [45]:
#This is where we import the relevant packages to be used. 
#SQL to organise our data / Pandas & Numpy for the second stage of anlaysis.

import sqlite3 
import pandas as pd
import numpy as np
import requests
import json

# II. Data Join - SQL

In [46]:
#Unique DataFrame created using three data sources: Teams_in_Matches / Unique_Teams / Matches 
#Presents duplicated entries for each match

conn = sqlite3.connect('database.sqlite')
cur = conn.cursor()

cur.execute("""SELECT * FROM Teams_in_Matches JOIN Unique_Teams USING (Unique_Team_ID) JOIN Matches 
               USING (Match_ID) WHERE Season = 2011""")
pdset = pd.DataFrame(cur.fetchall())
pdset.columns = [x[0] for x in cur.description]
pdset.head()

,Match_ID,Unique_Team_ID,TeamName,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1092,1,Bayern Munich,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A
1,1092,22,Nurnberg,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A
2,1093,1,Bayern Munich,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A
3,1093,17,Stuttgart,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A
4,1094,1,Bayern Munich,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A

# III. Adding result data and goals of the TeamName - Pandas

In [47]:
#Replace 'TeamName' column Label with 'MainTeam' for clarity

pdset.rename(columns={'TeamName':'MainTeam'}, inplace = True)

#Adding result of the TeamName (we'll refer to TeamName as Main Team)

for i, row in pdset.iterrows():
    if row.MainTeam == row.AwayTeam:
        # Away
        if row.FTR == 'A':
            pdset.loc[i,'Result'] = "W"
        elif row.FTR == 'D':
            pdset.loc[i,'Result'] = "D"
        else:
            pdset.loc[i,'Result'] = "L"
    else:
        # Home
        if row.FTR == 'H':
            pdset.loc[i,'Result'] = "W"
        elif row.FTR == 'D':
            pdset.loc[i,'Result'] = "D"
        else:
            pdset.loc[i,'Result'] = "L"

#Adding number of goals for the main team 
            
pdset['goals_scored'] = np.where(pdset['MainTeam'] == pdset ['AwayTeam'], pdset['FTAG'], pdset['FTHG'])

#Keeping only German football divisions: D1 & D2

pdset = pdset[pdset.Div != 'E0']

# IV. Creation of Tables for wins / goals scored per team

In [30]:
#Complete Pivot Table to have goals scored 

Goals_Team_2011 = pdset.pivot_table(index = ['Unique_Team_ID', 'MainTeam'], values = 'goals_scored', aggfunc = np.sum)
Goals_Team_2011.reset_index(inplace =True)
Goals_Team_2011.sort_values('goals_scored', ascending = False)

#Complete Pivot Table for number of wins

pdset['win_tag'] = np.where(pdset['Result'] == 'W', 1,0)

Wins_Team_2011 = pdset.pivot_table(index = ['Unique_Team_ID','MainTeam'], values = 'win_tag', aggfunc = sum)
Wins_Team_2011.reset_index(inplace = True)

#Combine the two resulting DataFrames

Goals_and_Wins_2011 = Goals_Team_2011.merge(Wins_Team_2011,how ='inner', on = 'Unique_Team_ID', suffixes = ('','_y'))
Goals_and_Wins_2011.drop(columns='MainTeam_y', inplace = True)
Goals_and_Wins_2011.sort_values('win_tag', ascending = False)

Goals_and_Wins_2011.rename(columns ={'win_tag': 'Num_Wins'}).sort_values('Num_Wins', ascending = False)

    Unique_Team_ID            MainTeam  goals_scored  Num_Wins
1                2            Dortmund            80        25
0                1       Bayern Munich            77        23
12              14       Ein Frankfurt            76        20
3                5          Schalke 04            74        20
21              24      Greuther Furth            73        20
24              27            St Pauli            59        18
34              42         Munich 1860            62        17
18              21           Paderborn            51        17
4                6          M'gladbach            49        17
22              25  Fortuna Dusseldorf            64        16
15              17           Stuttgart            63        15
2                3          Leverkusen            52        15
31              35        Union Berlin            55        14
5                7           Wolfsburg            47        13
16              18            Hannover            41        12
19              22            Nurnberg            38        12
32              37             Dresden            50        12
11              13       Werder Bremen            49        11
14              16            Freiburg            45        10
20              23        Braunschweig            37        10
7                9          Hoffenheim            41        10
25              28              Bochum            41        10
28              32            Duisburg            42        10
9               11               Mainz            47         9
26              29           Karlsruhe            34         9
17              19          Ingolstadt            43         8
6                8             FC Koln            39         8
13              15            Augsburg            36         8
10              12             Hamburg            35         8
27              31             Cottbus            30         8
33              39      Erzgebirge Aue            31         8
8               10              Hertha            38         7
35              44       Frankfurt FSV            43         7
30              34              Aachen            30         6
29              33       Hansa Rostock            34         5
23              26      Kaiserslautern            24         4

# V. Adding API Data for the weather at each match

In [31]:
def get_keys(path):
    with open(path) as f:
        return json.load(f)

In [51]:
#removing duplicates on Match_ID to have one entry per match and minimize API calls
pdset.sort_values('Match_ID', ascending = True)

unique_match = pdset.drop_duplicates(subset = 'Match_ID', keep = 'first')
unique_match.head()

,Match_ID,Unique_Team_ID,MainTeam,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Result,goals_scored
0,1092,1,Bayern Munich,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A,W,1
2,1093,1,Bayern Munich,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A,W,2
4,1094,1,Bayern Munich,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A,W,1
6,1095,1,Bayern Munich,D1,2011,2011-11-27,Mainz,Bayern Munich,3,2,H,L,2
8,1096,1,Bayern Munich,D1,2011,2012-02-18,Freiburg,Bayern Munich,0,0,D,D,0

In [52]:
# API calls for weather data

keys = get_keys("/Users/augustingoudet/.secret/code_file")
api_key = keys['dark_sky_key']

latitude = 52.5200
longitude = 13.4050

weather = []

for time in unique_match['Date']:
    url = "https://api.darksky.net/forecast/{}/{},{},{}T16:00:00".format(api_key, latitude, longitude, time)
    dark_sky = requests.get(url)
    weather.append(dark_sky.json()['daily']['data'][0].get('icon','Clear'))

unique_match['weather'] = weather

unique_match.head(n=30)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

,Match_ID,Unique_Team_ID,MainTeam,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Result,goals_scored,weather
0,1092,1,Bayern Munich,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A,W,1,rain
2,1093,1,Bayern Munich,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A,W,2,partly-cloudy-day
4,1094,1,Bayern Munich,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A,W,1,partly-cloudy-day
6,1095,1,Bayern Munich,D1,2011,2011-11-27,Mainz,Bayern Munich,3,2,H,L,2,wind
8,1096,1,Bayern Munich,D1,2011,2012-02-18,Freiburg,Bayern Munich,0,0,D,D,0,partly-cloudy-day
10,1097,1,Bayern Munich,D1,2011,2012-01-20,M'gladbach,Bayern Munich,3,1,H,L,1,rain
12,1098,1,Bayern Munich,D1,2011,2012-02-04,Hamburg,Bayern Munich,1,1,D,D,1,partly-cloudy-day
14,1099,1,Bayern Munich,D1,2011,2012-04-21,Werder Bremen,Bayern Munich,1,2,A,W,2,partly-cloudy-day
16,1100,1,Bayern Munich,D1,2011,2011-09-18,Schalke 04,Bayern Munich,0,2,A,W,2,rain
18,1101,1,Bayern Munich,D1,2011,2011-10-23,Hannover,Bayern Munich,2,1,H,L,1,Clear
20,1102,1,Bayern Munich,D1,2011,2011-10-01,Hoffenheim,Bayern Munich,0,0,D,D,0,Clear
22,1103,1,Bayern Munich,D1,2011,2012-03-03,Leverkusen,Bayern Munich,2,0,H,L,0,Clear
24,1104,1,Bayern Munich,D1,2011,2011-08-27,Kaiserslautern,Bayern Munich,0,3,A,W,3,partly-cloudy-day
26,1105,1,Bayern Munich,D1,2011,2012-03-17,Hertha,Bayern Munich,0,6,A,W,6,Clear
28,1106,1,Bayern Munich,D1,2011,2011-11-06,Augsburg,Bayern Munich,1,2,A,W,2,Clear
30,1107,1,Bayern Munich,D1,2011,2012-05-05,FC Koln,Bayern Munich,1,4,A,W,4,rain
32,1108,1,Bayern Munich,D1,2011,2012-04-11,Dortmund,Bayern Munich,1,0,H,L,0,partly-cloudy-day
34,1109,2,Dortmund,D1,2011,2011-08-27,Leverkusen,Dortmund,0,0,D,D,0,partly-cloudy-day
36,1110,2,Dortmund,D1,2011,2011-12-17,Freiburg,Dortmund,1,4,A,W,4,rain
38,1111,2,Dortmund,D1,2011,2012-02-18,Hertha,Dortmund,0,1,A,W,1,partly-cloudy-day
40,1112,2,Dortmund,D1,2011,2012-02-03,Nurnberg,Dortmund,0,2,A,W,2,partly-cloudy-day
42,1113,2,Dortmund,D1,2011,2011-08-13,Hoffenheim,Dortmund,1,0,H,L,0,partly-cloudy-day
44,1114,2,Dortmund,D1,2011,2011-10-29,Stuttgart,Dortmund,1,1,D,D,1,Clear
46,1115,2,Dortmund,D1,2011,2012-01-22,Hamburg,Dortmund,1,5,A,W,5,rain
48,1116,2,Dortmund,D1,2011,2011-12-03,M'gladbach,Dortmund,1,1,D,D,1,rain
50,1117,2,Dortmund,D1,2011,2012-04-14,Schalke 04,Dortmund,1,2,A,W,2,Clear
52,1118,2,Dortmund,D1,2011,2011-09-18,Hannover,Dortmund,2,1,H,L,1,rain
54,1119,2,Dortmund,D1,2011,2012-03-25,FC Koln,Dortmund,1,6,A,W,6,partly-cloudy-day
56,1120,2,Dortmund,D1,2011,2012-03-10,Augsburg,Dortmund,0,0,D,D,0,partly-cloudy-day
58,1121,2,Dortmund,D1,2011,2012-04-07,Wolfsburg,Dortmund,1,3,A,W,3,partly-cloudy-day

In [54]:
#Saving CSV file to avoid re-running the API data
unique_match.to_csv('final_weather_set.csv')

# VI. Creating a table matches won under rain as % of total wins

In [68]:
unique_match["concat1"] = unique_match["Result"].map(str) + unique_match["weather"]
unique_match['main_team_rain_wins'] = np.where(unique_match['concat1'] == 'Wrain', 1,0)
unique_match['main_team_wins'] = np.where(unique_match['Result'] == 'W',1,0)
unique_match.head()

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Match_ID,Unique_Team_ID,MainTeam,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Result,goals_scored,weather,rain_wins,concat1,main_team_rain_wins,main_team_wins
0,1092,1,Bayern Munich,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A,W,1,rain,1,Wrain,1,1
2,1093,1,Bayern Munich,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A,W,2,partly-cloudy-day,0,Wpartly-cloudy-day,0,1
4,1094,1,Bayern Munich,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A,W,1,partly-cloudy-day,0,Wpartly-cloudy-day,0,1
6,1095,1,Bayern Munich,D1,2011,2011-11-27,Mainz,Bayern Munich,3,2,H,L,2,wind,0,Lwind,0,0
8,1096,1,Bayern Munich,D1,2011,2012-02-18,Freiburg,Bayern Munich,0,0,D,D,0,partly-cloudy-day,0,Dpartly-cloudy-day,0,0

In [84]:
Win_Summary = unique_match.pivot_table(index = ['MainTeam', 'Unique_Team_ID'], values = ['main_team_rain_wins','main_team_wins'], aggfunc = sum)
Win_Summary.reset_index()
Win_Summary.sort_values('main_team_rain_wins', ascending = False, inplace = True)

In [91]:
Win_Summary['Rain_W_%'] = Win_Summary['main_team_rain_wins'] / Win_Summary ['main_team_wins']
# format_dict = {'sum':'${0:,.0f}', 'date': '{:%m-%Y}', 'pct_of_total': '{:.2%}'}
# Win_Summary.style.format(format_dict)

Win_Summary['Rain_W_%'] = pd.Series(["{0:.2f}%".format(val * 100) for val in Win_Summary['Rain_W_%']], index = Win_Summary.index)
Win_Summary

,,main_team_rain_wins,main_team_wins,Rain_W_%
MainTeam,Unique_Team_ID,,,
St Pauli,27,6,15,40.00%
Bayern Munich,1,5,23,21.74%
Dortmund,2,5,23,21.74%
Leverkusen,3,4,14,28.57%
Greuther Furth,24,4,17,23.53%
Wolfsburg,7,3,11,27.27%
Schalke 04,5,3,18,16.67%
M'gladbach,6,3,13,23.08%
Paderborn,21,3,15,20.00%
Karlsruhe,29,3,6,50.00%
Cottbus,31,2,6,33.33%
Braunschweig,23,2,8,25.00%
Bochum,28,2,8,25.00%
Ein Frankfurt,14,2,20,10.00%
Ingolstadt,19,1,8,12.50%
Werder Bremen,13,1,4,25.00%
Nurnberg,22,1,2,50.00%
Munich 1860,42,1,1,100.00%
Mainz,11,1,6,16.67%
Aachen,34,1,1,100.00%
Hannover,18,1,3,33.33%
Hamburg,12,1,5,20.00%
Fortuna Dusseldorf,25,1,14,7.14%
Duisburg,32,1,4,25.00%
Hansa Rostock,33,1,2,50.00%
Hoffenheim,9,0,5,0.00%
Hertha,10,0,3,0.00%
Augsburg,15,0,0,nan%
Freiburg,16,0,2,0.00%
FC Koln,8,0,7,0.00%
Erzgebirge Aue,39,0,1,0.00%
Stuttgart,17,0,3,0.00%
Union Berlin,35,0,3,0.00%
Dresden,37,0,1,0.00%