# Requirement:

>The name of the team

>The total number of goals scored by the team during the 2011 season

>The total number of wins the team earned during the 2011 season

>A histogram visualization of the team's wins and losses for the 2011 season (store the visualization directly)

>The team's win percentage on days where it was raining during games in the 2011 season.

# T1 = Matches: 

>Match_ID (int): unique ID per match

>Div (str): identifies the division the match was played in (D1 = Bundesliga, D2 = Bundesliga 2, E0 = English 

>Premier League)

>Season (int): Season the match took place in (usually covering the period of August till May of the following year)

>Date (str): Date of the match

>HomeTeam (str): Name of the home team

>AwayTeam (str): Name of the away team

>FTHG (int) (Full Time Home Goals): Number of goals scored by the home team

>FTAG (int) (Full Time Away Goals): Number of goals scored by the away team

>FTR (str) (Full Time Result): 3-way result of the match (H = Home Win, D = Draw, A = Away Win)

# T2 = Teams

>Season (str): Football season for which the data is valid

>TeamName (str): Name of the team the data concerns

>KaderHome (str): Number of Players in the squad

>AvgAgeHome (str): Average age of players

>ForeignPlayersHome (str): Number of foreign players (non-German, non-English respectively) playing for the team

>OverallMarketValueHome (str): Overall market value of the team pre-season in EUR (based on data from transfermarkt.de)

>AvgMarketValueHome (str): Average market value (per player) of the team pre-season in EUR (based on data from transfermarkt.de)

>StadiumCapacity (str): Maximum stadium capacity of the team's home stadium

# T3 = Unique Teams

> TeamName (str): Name of a team

> Unique_Team_ID (int): Unique identifier for each team

# T4 = Teams_in_Matches

>Match_ID (int): Unique match ID

>Unique_Team_ID (int): Unique team ID (This table is used to easily retrieve each match a given team has played in)

In [2]:
#This is where we import the relevant packages to be used. 
#SQL to organise our data / Pandas & Numpy for the second stage of anlaysis.

import sqlite3 
import pandas as pd
import numpy as np
import requests
import json

# SQL data fetch and observation

In [3]:
conn = sqlite3.connect('database.sqlite')
cur = conn.cursor()

In [4]:
cur.execute("""SELECT * FROM Matches LIMIT 10""")

In [5]:
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df.head()

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1,D2,2009,2010-04-04,Oberhausen,Kaiserslautern,2,1,H
1,2,D2,2009,2009-11-01,Munich 1860,Kaiserslautern,0,1,A
2,3,D2,2009,2009-10-04,Frankfurt FSV,Kaiserslautern,1,1,D
3,4,D2,2009,2010-02-21,Frankfurt FSV,Karlsruhe,2,1,H
4,5,D2,2009,2009-12-06,Ahlen,Karlsruhe,1,3,A

In [6]:
cur.execute("""SELECT * FROM Teams LIMIT 10""")
df1 = pd.DataFrame(cur.fetchall())
df1.columns = [x[0] for x in cur.description]
df1.head()

,Season,TeamName,KaderHome,AvgAgeHome,ForeignPlayersHome,OverallMarketValueHome,AvgMarketValueHome,StadiumCapacity
0,2017,Bayern Munich,27,26,15,597950000,22150000,75000
1,2017,Dortmund,33,25,18,416730000,12630000,81359
2,2017,Leverkusen,31,24,15,222600000,7180000,30210
3,2017,RB Leipzig,30,23,15,180130000,6000000,42959
4,2017,Schalke 04,29,24,17,179550000,6190000,62271

In [7]:
cur.execute("""SELECT * FROM Teams_in_Matches LIMIT 10""")
df2 = pd.DataFrame(cur.fetchall())
df2.columns = [x[0] for x in cur.description]
df2.head()

   Match_ID  Unique_Team_ID
0         1              26
1         1              46
2         2              26
3         2              42
4         3              26

In [8]:
cur.execute("""SELECT * FROM Unique_Teams LIMIT 10""")
df3 = pd.DataFrame(cur.fetchall())
df3.columns = [x[0] for x in cur.description]
df3.head()

        TeamName  Unique_Team_ID
0  Bayern Munich               1
1       Dortmund               2
2     Leverkusen               3
3     RB Leipzig               4
4     Schalke 04               5

In [9]:
#STEP 1 : JOIN T3 & T4 then JOIN T1

cur.execute("""SELECT * FROM Teams_in_Matches JOIN Unique_Teams USING (Unique_Team_ID) JOIN Matches 
               USING (Match_ID) WHERE Season = 2011""")
pdset = pd.DataFrame(cur.fetchall())
pdset.columns = [x[0] for x in cur.description]
pdset.head()

,Match_ID,Unique_Team_ID,TeamName,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1092,1,Bayern Munich,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A
1,1092,22,Nurnberg,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A
2,1093,1,Bayern Munich,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A
3,1093,17,Stuttgart,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A
4,1094,1,Bayern Munich,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A

In [10]:
#Adding result of the TeamName (we'll refer to TeamName as Main Team)

for i, row in pdset.iterrows():
    if row.TeamName == row.AwayTeam:
        # Away
        if row.FTR == 'A':
            pdset.loc[i,'Result'] = "W"
        elif row.FTR == 'D':
            pdset.loc[i,'Result'] = "D"
        else:
            pdset.loc[i,'Result'] = "L"
    else:
        # Home
        if row.FTR == 'H':
            pdset.loc[i,'Result'] = "W"
        elif row.FTR == 'D':
            pdset.loc[i,'Result'] = "D"
        else:
            pdset.loc[i,'Result'] = "L"

#Adding number of goals for the main team 
            
pdset['goals_scored'] = np.where(pdset['TeamName'] == pdset ['AwayTeam'], pdset['FTAG'], pdset['FTHG'])

#Keeping only German football divisions: D1 & D2v

pdset = pdset[pdset.Div != 'E0']

In [11]:
pdset_1 = pdset.head(n=5)

pdset_1.head()

,Match_ID,Unique_Team_ID,TeamName,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Result,goals_scored
0,1092,1,Bayern Munich,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A,W,1
1,1092,22,Nurnberg,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A,L,0
2,1093,1,Bayern Munich,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A,W,2
3,1093,17,Stuttgart,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A,L,1
4,1094,1,Bayern Munich,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A,W,1

# API Exploration

In [12]:
def get_keys(path):
    with open(path) as f:
        return json.load(f)

In [13]:
#API calls for weather data

keys = get_keys("/Users/augustingoudet/.secret/code_file")
api_key = keys['dark_sky_key']

latitude = 52.5200
longitude = 13.4050

weather = []

for time in pdset_1['Date']:
    url = "https://api.darksky.net/forecast/{}/{},{},{}T16:00:00".format(api_key, latitude, longitude, time)
    dark_sky = requests.get(url)
    weather.append(dark_sky.json()['daily']['data'][0].get('icon','Clear'))

pdset_1['weather'] = weather

pdset_1.head(n=30)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

,Match_ID,Unique_Team_ID,TeamName,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Result,goals_scored,weather
0,1092,1,Bayern Munich,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A,W,1,rain
1,1092,22,Nurnberg,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A,L,0,rain
2,1093,1,Bayern Munich,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A,W,2,partly-cloudy-day
3,1093,17,Stuttgart,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A,L,1,partly-cloudy-day
4,1094,1,Bayern Munich,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A,W,1,partly-cloudy-day
5,1094,7,Wolfsburg,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A,L,0,partly-cloudy-day
6,1095,1,Bayern Munich,D1,2011,2011-11-27,Mainz,Bayern Munich,3,2,H,L,2,wind
7,1095,11,Mainz,D1,2011,2011-11-27,Mainz,Bayern Munich,3,2,H,W,3,wind
8,1096,1,Bayern Munich,D1,2011,2012-02-18,Freiburg,Bayern Munich,0,0,D,D,0,partly-cloudy-day
9,1096,16,Freiburg,D1,2011,2012-02-18,Freiburg,Bayern Munich,0,0,D,D,0,partly-cloudy-day
10,1097,1,Bayern Munich,D1,2011,2012-01-20,M'gladbach,Bayern Munich,3,1,H,L,1,rain
11,1097,6,M'gladbach,D1,2011,2012-01-20,M'gladbach,Bayern Munich,3,1,H,W,3,rain
12,1098,1,Bayern Munich,D1,2011,2012-02-04,Hamburg,Bayern Munich,1,1,D,D,1,partly-cloudy-day
13,1098,12,Hamburg,D1,2011,2012-02-04,Hamburg,Bayern Munich,1,1,D,D,1,partly-cloudy-day
14,1099,1,Bayern Munich,D1,2011,2012-04-21,Werder Bremen,Bayern Munich,1,2,A,W,2,partly-cloudy-day
15,1099,13,Werder Bremen,D1,2011,2012-04-21,Werder Bremen,Bayern Munich,1,2,A,L,1,partly-cloudy-day
16,1100,1,Bayern Munich,D1,2011,2011-09-18,Schalke 04,Bayern Munich,0,2,A,W,2,rain
17,1100,5,Schalke 04,D1,2011,2011-09-18,Schalke 04,Bayern Munich,0,2,A,L,0,rain
18,1101,1,Bayern Munich,D1,2011,2011-10-23,Hannover,Bayern Munich,2,1,H,L,1,Clear
19,1101,18,Hannover,D1,2011,2011-10-23,Hannover,Bayern Munich,2,1,H,W,2,Clear
20,1102,1,Bayern Munich,D1,2011,2011-10-01,Hoffenheim,Bayern Munich,0,0,D,D,0,Clear
21,1102,9,Hoffenheim,D1,2011,2011-10-01,Hoffenheim,Bayern Munich,0,0,D,D,0,Clear
22,1103,1,Bayern Munich,D1,2011,2012-03-03,Leverkusen,Bayern Munich,2,0,H,L,0,Clear
23,1103,3,Leverkusen,D1,2011,2012-03-03,Leverkusen,Bayern Munich,2,0,H,W,2,Clear
24,1104,1,Bayern Munich,D1,2011,2011-08-27,Kaiserslautern,Bayern Munich,0,3,A,W,3,partly-cloudy-day
25,1104,26,Kaiserslautern,D1,2011,2011-08-27,Kaiserslautern,Bayern Munich,0,3,A,L,0,partly-cloudy-day
26,1105,1,Bayern Munich,D1,2011,2012-03-17,Hertha,Bayern Munich,0,6,A,W,6,Clear
27,1105,10,Hertha,D1,2011,2012-03-17,Hertha,Bayern Munich,0,6,A,L,0,Clear
28,1106,1,Bayern Munich,D1,2011,2011-11-06,Augsburg,Bayern Munich,1,2,A,W,2,Clear
29,1106,15,Augsburg,D1,2011,2011-11-06,Augsburg,Bayern Munich,1,2,A,L,1,Clear

In [50]:
#Complete Pivot Table to have goals scored 

Goals_Team_2011 = pdset.pivot_table(index = ['Unique_Team_ID', 'TeamName'], values = 'goals_scored', aggfunc = np.sum)
Goals_Team_2011.reset_index(inplace =True)
Goals_Team_2011.sort_values('goals_scored', ascending = False)

#Complete Pivot Table for number of wins

pdset['win_tag'] = np.where(pdset['Result'] == 'W', 1,0)

Wins_Team_2011 = pdset.pivot_table(index = ['Unique_Team_ID','TeamName'], values = 'win_tag', aggfunc = sum)
Wins_Team_2011.reset_index(inplace = True)
Wins_Team_2011.rename(columns ={'win_tag': 'Num_Wins'}).sort_values('Num_Wins', ascending = False)

#Combine the two resulting DataFrames

Goals_and_Wins_2011 = Goals_Team_2011.merge(Wins_Team_2011,how ='inner', on = 'Unique_Team_ID', suffixes = ('','_y'))
Goals_and_Wins_2011.drop(columns='TeamName_y', inplace = True)
Goals_and_Wins_2011.sort_values('win_tag', ascending = False)

    Unique_Team_ID            TeamName  goals_scored  win_tag
1                2            Dortmund            80       25
0                1       Bayern Munich            77       23
12              14       Ein Frankfurt            76       20
3                5          Schalke 04            74       20
21              24      Greuther Furth            73       20
24              27            St Pauli            59       18
34              42         Munich 1860            62       17
18              21           Paderborn            51       17
4                6          M'gladbach            49       17
22              25  Fortuna Dusseldorf            64       16
15              17           Stuttgart            63       15
2                3          Leverkusen            52       15
31              35        Union Berlin            55       14
5                7           Wolfsburg            47       13
16              18            Hannover            41       12
19              22            Nurnberg            38       12
32              37             Dresden            50       12
11              13       Werder Bremen            49       11
14              16            Freiburg            45       10
20              23        Braunschweig            37       10
7                9          Hoffenheim            41       10
25              28              Bochum            41       10
28              32            Duisburg            42       10
9               11               Mainz            47        9
26              29           Karlsruhe            34        9
17              19          Ingolstadt            43        8
6                8             FC Koln            39        8
13              15            Augsburg            36        8
10              12             Hamburg            35        8
27              31             Cottbus            30        8
33              39      Erzgebirge Aue            31        8
8               10              Hertha            38        7
35              44       Frankfurt FSV            43        7
30              34              Aachen            30        6
29              33       Hansa Rostock            34        5
23              26      Kaiserslautern            24        4

In [15]:
dark_sky.json().keys()

dict_keys(['latitude', 'longitude', 'timezone', 'currently', 'hourly', 'daily', 'flags', 'offset'])

In [16]:
for key, values in dark_sky.json().items():
    print(key, values)
    value = dark_sky.json()[key]
    print(type(value))
    print('\n\n')

latitude 52.52
<class 'float'>



longitude 13.405
<class 'float'>



timezone Europe/Berlin
<class 'str'>



currently {'time': 1320591600, 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 56.46, 'apparentTemperature': 56.46, 'dewPoint': 48.2, 'humidity': 0.74, 'windSpeed': 6.91, 'windGust': 6.91, 'windBearing': 56, 'visibility': 6.072}
<class 'dict'>



hourly {'summary': 'Foggy overnight and in the morning.', 'icon': 'fog', 'data': [{'time': 1320534000, 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 44.2, 'apparentTemperature': 41.42, 'dewPoint': 42.8, 'humidity': 0.95, 'windSpeed': 4.99, 'windGust': 4.99, 'windBearing': 38, 'uvIndex': 0, 'visibility': 2.284}, {'time': 1320537600, 'summary': 'Foggy', 'icon': 'fog', 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 44.2, 'apparentTemperature': 41.69, 'dewPoint': 42.8, 'humidity': 0.95, 'windSpeed': 4.61, 'windGust': 4.61, 'windBearing': 60, 'uvIndex': 0, 'visibility': 1.935}, {'time': 1320541200, 'summary': 'Foggy', 'icon': 'fog', 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 44.2, 'apparentTemperature': 41.42, 'dewPoint': 42.8, 'humidity': 0.95, 'windSpeed': 4.99, 'windGust': 4.99, 'windBearing': 56, 'uvIndex': 0, 'visibility': 1.935}, {'time': 1320544800, 'summary': 'Foggy', 'icon': 'fog', 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 44.2, 'apparentTemperature': 41.69, 'dewPoint': 42.8, 'humidity': 0.95, 'windSpeed': 4.61, 'windGust': 4.61, 'windBearing': 59, 'uvIndex': 0, 'visibility': 1.836}, {'time': 1320548400, 'summary': 'Foggy', 'icon': 'fog', 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 42.41, 'apparentTemperature': 40.61, 'dewPoint': 41, 'humidity': 0.95, 'windSpeed': 3.46, 'windGust': 3.46, 'windBearing': 69, 'uvIndex': 0, 'visibility': 1.469}, {'time': 1320552000, 'summary': 'Foggy', 'icon': 'fog', 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 42.41, 'apparentTemperature': 39.31, 'dewPoint': 42.41, 'humidity': 1, 'windSpeed': 4.99, 'windGust': 4.99, 'windBearing': 50, 'uvIndex': 0, 'visibility': 1.496}, {'time': 1320555600, 'summary': 'Foggy', 'icon': 'fog', 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 43.81, 'apparentTemperature': 40.95, 'dewPoint': 42.41, 'humidity': 0.95, 'windSpeed': 4.99, 'windGust': 4.99, 'windBearing': 90, 'uvIndex': 0, 'visibility': 1.442}, {'time': 1320559200, 'summary': 'Foggy', 'icon': 'fog', 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 43.81, 'apparentTemperature': 42.21, 'dewPoint': 42.41, 'humidity': 0.95, 'windSpeed': 3.46, 'windGust': 3.46, 'windBearing': 81, 'cloudCover': 0.75, 'uvIndex': 0, 'visibility': 1.575}, {'time': 1320562800, 'summary': 'Foggy', 'icon': 'fog', 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 43.81, 'apparentTemperature': 41.23, 'dewPoint': 42.41, 'humidity': 0.95, 'windSpeed': 4.61, 'windGust': 4.99, 'windBearing': 74, 'cloudCover': 0.75, 'uvIndex': 0, 'visibility': 1.666}, {'time': 1320566400, 'summary': 'Partly Cloudy', 'icon': 'partly-cloudy-day', 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 46.02, 'apparentTemperature': 43.54, 'dewPoint': 44.59, 'humidity': 0.95, 'windSpeed': 4.99, 'windGust': 4.99, 'windBearing': 67, 'cloudCover': 0.44, 'uvIndex': 0, 'visibility': 2.175}, {'time': 1320570000, 'precipIntensity': 0.0009, 'precipProbability': 0.09, 'precipType': 'rain', 'temperature': 48.42, 'apparentTemperature': 45.92, 'dewPoint': 45.65, 'humidity': 0.9, 'windSpeed': 5.74, 'windGust': 7.01, 'windBearing': 90, 'visibility': 3.804}, {'time': 1320573600, 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 51.64, 'apparentTemperature': 51.64, 'dewPoint': 48.13, 'humidity': 0.88, 'windSpeed': 4.61, 'windGust': 4.61, 'windBearing': 104, 'visibility': 5.049}, {'time': 1320577200, 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 52.57, 'apparentTemperature': 52.57, 'dewPoint': 47.02, 'humidity': 0.81, 'windSpeed': 6.91, 'windGust': 7.01, 'windBearing': 106, 'visibility': 5.457}, {'time': 1320580800, 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 57.2, 'apparentTemperature': 57.2, 'dewPoint': 47.65, 'humidity': 0.7, 'windSpeed': 6.91, 'windGust': 7.01, 'windBearing': 101, 'visibility': 5.937}, {'time': 1320584400, 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 58.5, 'apparentTemperature': 58.5, 'dewPoint': 47.84, 'humidity': 0.68, 'windSpeed': 9.21, 'windGust': 9.21, 'windBearing': 110, 'visibility': 6.072}, {'time': 1320588000, 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 56.5, 'apparentTemperature': 56.5, 'dewPoint': 47.67, 'humidity': 0.72, 'windSpeed': 9.21, 'windGust': 10.01, 'windBearing': 110, 'visibility': 6.072}, {'time': 1320591600, 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 56.46, 'apparentTemperature': 56.46, 'dewPoint': 48.2, 'humidity': 0.74, 'windSpeed': 6.91, 'windGust': 6.91, 'windBearing': 56, 'visibility': 6.072}, {'time': 1320595200, 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 53.21, 'apparentTemperature': 53.21, 'dewPoint': 46.92, 'humidity': 0.79, 'windSpeed': 6.91, 'windGust': 6.91, 'windBearing': 49, 'uvIndex': 0, 'visibility': 4.703}, {'time': 1320598800, 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 51.4, 'apparentTemperature': 51.4, 'dewPoint': 46.41, 'humidity': 0.83, 'windSpeed': 5.74, 'windGust': 5.74, 'windBearing': 60, 'uvIndex': 0, 'visibility': 5.937}, {'time': 1320602400, 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 49.61, 'apparentTemperature': 48, 'dewPoint': 46.41, 'humidity': 0.89, 'windSpeed': 4.61, 'windGust': 4.61, 'windBearing': 49, 'uvIndex': 0, 'visibility': 6.072}, {'time': 1320606000, 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 49.61, 'apparentTemperature': 48.83, 'dewPoint': 46.41, 'humidity': 0.89, 'windSpeed': 3.46, 'windGust': 4.99, 'windBearing': 50, 'uvIndex': 0, 'visibility': 6.206}, {'time': 1320609600, 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 48.21, 'apparentTemperature': 47.24, 'dewPoint': 44.59, 'humidity': 0.87, 'windSpeed': 3.46, 'windGust': 3.46, 'windBearing': 50, 'uvIndex': 0, 'visibility': 6.206}, {'time': 1320613200, 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 47.82, 'apparentTemperature': 45.91, 'dewPoint': 44.59, 'humidity': 0.89, 'windSpeed': 4.61, 'windGust': 4.61, 'windBearing': 41, 'uvIndex': 0, 'visibility': 6.206}, {'time': 1320616800, 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 48.21, 'apparentTemperature': 46.37, 'dewPoint': 44.59, 'humidity': 0.87, 'windSpeed': 4.61, 'windGust': 4.61, 'windBearing': 60, 'uvIndex': 0, 'visibility': 6.206}]}
<class 'dict'>



daily {'data': [{'time': 1320534000, 'summary': 'Foggy in the morning.', 'sunriseTime': 1320559980, 'sunsetTime': 1320593400, 'moonPhase': 0.38, 'precipIntensity': 0, 'precipIntensityMax': 0.0009, 'precipIntensityMaxTime': 1320570000, 'precipProbability': 0.09, 'temperatureHigh': 59.02, 'temperatureHighTime': 1320584040, 'temperatureLow': 41.52, 'temperatureLowTime': 1320648900, 'apparentTemperatureHigh': 58.52, 'apparentTemperatureHighTime': 1320584040, 'apparentTemperatureLow': 38.79, 'apparentTemperatureLowTime': 1320641880, 'dewPoint': 44.99, 'humidity': 0.87, 'windSpeed': 5.38, 'windGust': 10.01, 'windGustTime': 1320587880, 'windBearing': 74, 'uvIndex': 0, 'uvIndexTime': 1320566400, 'visibility': 4.066, 'temperatureMin': 41.72, 'temperatureMinTime': 1320550080, 'temperatureMax': 59.02, 'temperatureMaxTime': 1320584040, 'apparentTemperatureMin': 39.31, 'apparentTemperatureMinTime': 1320551880, 'apparentTemperatureMax': 58.52, 'apparentTemperatureMaxTime': 1320584040}]}
<class 'dict'>



flags {'sources': ['cmc', 'gfs', 'icon', 'isd', 'madis'], 'nearest-station': 1.219, 'units': 'us'}
<class 'dict'>



offset 1
<class 'int'>

In [17]:
dark_sky.json()['daily']

{'data': [{'time': 1320534000,
   'summary': 'Foggy in the morning.',
   'sunriseTime': 1320559980,
   'sunsetTime': 1320593400,
   'moonPhase': 0.38,
   'precipIntensity': 0,
   'precipIntensityMax': 0.0009,
   'precipIntensityMaxTime': 1320570000,
   'precipProbability': 0.09,
   'temperatureHigh': 59.02,
   'temperatureHighTime': 1320584040,
   'temperatureLow': 41.52,
   'temperatureLowTime': 1320648900,
   'apparentTemperatureHigh': 58.52,
   'apparentTemperatureHighTime': 1320584040,
   'apparentTemperatureLow': 38.79,
   'apparentTemperatureLowTime': 1320641880,
   'dewPoint': 44.99,
   'humidity': 0.87,
   'windSpeed': 5.38,
   'windGust': 10.01,
   'windGustTime': 1320587880,
   'windBearing': 74,
   'uvIndex': 0,
   'uvIndexTime': 1320566400,
   'visibility': 4.066,
   'temperatureMin': 41.72,
   'temperatureMinTime': 1320550080,
   'temperatureMax': 59.02,
   'temperatureMaxTime': 1320584040,
   'apparentTemperatureMin': 39.31,
   'apparentTemperatureMinTime': 1320551880,
   'apparentTemperatureMax': 58.52,
   'apparentTemperatureMaxTime': 1320584040}]}

In [18]:
dark_sky.json()['daily']['data'][0]['icon']

KeyError: 'icon'

In [ ]:
weather_df = pd.DataFrame.from_dict(dark_sky.json()['daily']['data'][0]['icon'])
print(len(weather_df)) #Print how many rows
print(weather_df.columns) #Print column names
weather_df.head()

In [ ]:
# You don't have to use these classes, but we recommend them as a good place to start!

In [ ]:
class MongoHandler():
    pass

In [24]:
def get_keys(path):
    with open(path) as f:
        return json.load(f)

keys = get_keys("/Users/augustingoudet/.secret/code_file")
api_key = keys['dark_sky_key']

    
class WeatherGetter():
    
    def __init__(self):
        
        self.latitude = 52.52437
        self.longitude = 13.41053
 
    def weather_retriever(self, pdset_1):
        weather = []
        for date in pdset_1:
            url = 'https://api.darksky.net/forecast/'+api_key+'/'+ str(self.latitude) +','+ str(self.longitude) + ',' +str(date) + 'T16:00:00'
            response = requests.get(url)
            weather.append(response.json()['daily']['data'][0].get('icon','clear'))
        
        return(weather)





# latitude = 52.5200
# longitude = 13.4050

# weather = []

# for time in pdset_1['Date']:
#     url = "https://api.darksky.net/forecast/{}/{},{},{}T16:00:00".format(api_key, latitude, longitude, time)
#     dark_sky = requests.get(url)
#     weather.append(dark_sky.json()['daily']['data'][0].get('icon','Clear'))

# pdset_1['weather'] = weather

# pdset_1.head(n=30)

NameError: name 'weather_retriever' is not defined